.container {
  -webkit-box-align: center;
  width: 100%;
  background-color: lightgrey;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  height: 100px;
  background-color: slategrey;
  border-radius: 5px;
  padding: 10px;
}

.jumbotron {
  margin-left: auto;
  margin-right: auto;
  height: 800px;
  background-color: white;
}

.page-footer {
  clear: both;
  height: 75px;
  background-color: slategrey;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 10px;
}
