#wrapper {
  -webkit-box-align: center;
  width: 100%;
  background-color: lightgrey;
  margin-left: auto;
  margin-right: auto;
}

header {
  height: 50px;
  background-color: slategrey;
}

nav {
  width: 960px;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  height: 800px;
  background-color: white;
}

footer {
  clear: both;
  height: 50px;
  background-color: slategrey;
}

h1 {
  padding: 20px;
  text-align: center;
}
